
@model Moviesite.Entities.Movie

<div class="container">
    <h1 class="text-center">DETAILS</h1>

    <hr>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <td>@Html.DisplayFor(model => model.Title)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.ProducerName)</th>
                <td>@Html.DisplayFor(model => model.ProducerName)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.Producer)</th>
                <td>@Html.DisplayFor(model => model.Producer)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.YearFilmed)</th>
                <td>@Html.DisplayFor(model => model.YearFilmed)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.Duration)</th>
                <td>@Html.DisplayFor(model => model.Duration)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.Genre)</th>
                <td>@Html.DisplayFor(model => model.Genre)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.Category)</th>
                <td>@Html.DisplayFor(model => model.Category)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                <td>@Html.DisplayFor(model => model.CategoryName)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.Price)</th>
                <td>@Html.DisplayFor(model => model.Price)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.FormatType)</th>
                <td>@Html.DisplayFor(model => model.FormatType)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <td>@Html.DisplayFor(model => model.Description)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.Language)</th>
                <td>@Html.DisplayFor(model => model.Language)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.Country)</th>
                <td>@Html.DisplayFor(model => model.Country)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.Shipping)</th>
                <td>@Html.DisplayFor(model => model.Shipping)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.PhotoURL)</th>
                <td>@Html.DisplayFor(model => model.PhotoURL)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.SoldItems)</th>
                <td>@Html.DisplayFor(model => model.SoldItems)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.Rating)</th>
                <td>@Html.DisplayFor(model => model.Rating)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.DateAdded)</th>
                <td>@Html.DisplayFor(model => model.DateAdded)</td>
            </tr>
        </tbody>
    </table>
    <div class="mt-3">
        <a asp-action="Index">Back to list</a>
    </div>
</div>