
@model Moviesite.Entities.Movie

<div class="container">
    <h1 class="text-center">DETAILS</h1>

    <hr>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <td>@Html.DisplayFor(model => model.Title)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.ActorNames)</th>
                <td>@Html.DisplayFor(model => model.ActorNames)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.ProducerName)</th>
                <td>@Html.DisplayFor(model => model.ProducerName)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.DirectorName)</th>
                <td>@Html.DisplayFor(model => model.DirectorName)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.ReleaseDate)</th>
                <td>@Html.DisplayFor(model => model.ReleaseDate)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.Duration)</th>
                <td>@Html.DisplayFor(model => model.Duration)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.GenreName)</th>
                <td>@Html.DisplayFor(model => model.GenreName)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.Price)</th>
                <td>@Html.DisplayFor(model => model.Price)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.FormatType)</th>
                <td>@Html.DisplayFor(model => model.FormatType)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <td>@Html.DisplayFor(model => model.Description)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.Language)</th>
                <td>@Html.DisplayFor(model => model.Language)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.Country)</th>
                <td>@Html.DisplayFor(model => model.Country)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.Shipping)</th>
                <td>@Html.DisplayFor(model => model.Shipping)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.PhotoURL)</th>
                <td>@Html.DisplayFor(model => model.PhotoURL)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.SoldItems)</th>
                <td>@Html.DisplayFor(model => model.SoldItems)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.Rating)</th>
                <td>@Html.DisplayFor(model => model.Rating)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.DateAdded)</th>
                <td>@Html.DisplayFor(model => model.DateAdded)</td>
            </tr>
        </tbody>
    </table>
    <div class="mt-3">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index">Back to list</a>
    </div>
</div>