
@model IEnumerable<Moviesite.Entities.Movie>

<h1>Movies</h1>

<div class="row mt-4">
    <div class="col-12 col-md-12">
        <a class="btn-success btn float-right" asp-controller="Movie" asp-action="Create">
            <i class="fas fa-plus-circle"></i>
            &nbsp; &nbsp;
            Create
        </a>
    </div>
</div>

<div class="container mt-4">
    <h3>All movies</h3>

    <table class="table table-bordered">

        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Producer</th>
                <th>Director</th>
                <th>Release Date</th>
                <th>Genre</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var movie in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.ProducerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.DirectorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.GenreName)
                </td>
                <td>
                    <a class="btn-secondary btn btn-block" asp-controller="Movie" asp-action="Edit" asp-route-id="@movie.Id">
                        <i class="fas fa-edit"></i>
                        &nbsp; &nbsp;
                        Edit
                    </a>
                    <a class="btn-info btn btn-block" asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id">
                        <i class="fas fa-info"></i>
                        &nbsp; &nbsp;
                        Details
                    </a>
                    <a class="btn-danger btn btn-block" asp-controller="Movie" asp-action="Delete" asp-route-id="@movie.Id">
                        <i class="fas fa-trash"></i>
                        &nbsp; &nbsp;
                        Delete
                    </a>
                </td>
            </tr>
            }
        </tbody>

    </table>

</div>

